{% extends "base.html" %}

{% block content %}

<div class="row" style="padding-top: 40px; font-size: 13px; font-family: 'Quicksand', sans-serif;">
        <div class="col col-md-4>"></div>
        <div class="col col-md-4 text-left">

                <form name="edit_monitor" method="post"> {% csrf_token %}
                        {{ form.as_p }}


                        <button class="btn btn-primary" onclick="return editButton();">
                                <i class="fas fa-paper-plane"></i>
                                Save Monitor</button>

                        <button class="btn btn-danger" onclick="return deleteButton();">
                                <i class="fas fa-trash"></i>
                                Delete Monitor</button>
                </form>

        </div>
        <div class="col col-md-4>"></div>
</div>

<script>
        function deleteButton() {
                document.edit_monitor.action = "{% url 'delete_monitor' id %}" 
                document.edit_monitor.submit(); // Submit the page
                return true;
        }

        function editButton() {
                document.edit_monitor.action = "{% url url_name id %}"
                document.edit_monitor.submit(); // Submit the page
                return true;
        }
</script>

{% endblock %}