{% extends "base.html" %}

{% block content %}


<div class="col col-sm-6 mx-auto" style="padding-top: 100px; font-size: 20px; font-family: 'Quicksand', sans-serif;">
   
   <p>Placeholder for dashboard</p>

   <table class="table">
      <tr>
          <th>Type</th>
          <th>Hostname</th>
      </tr>
      {% for item in query_results %}
      <tr> 
          <td>{{ item.type }}</td>
          <td>{{ item.hostname }}</td>
      </tr>
      {% endfor %}
  </table>


</div>
        
  
{% endblock %}