{% extends "base.html" %}

{% block content %}



<div class="col col-sm-6 mx-auto" style="padding-top: 100px; font-size: 20px; font-family: 'Quicksand', sans-serif;">


   <table class="table">
      <tr>
         <th>Hostname</th>
         <th>Type</th>
         <th>State</th>
      </tr>
      {% for item in query_results %}
      <tr>
         <td><a href="{% url 'edit_monitor' item.id %}">{{ item.hostname }}</a></td>
         <td>{{ item.type }}</td>
         <td>
            <div class={{ item.display_state }}>
               <img />
            </div>
         </td>
      </tr>

      {% endfor %}
   </table>


</div>


{% endblock %}