{% extends "settings.html" %}

{% block settings %}

<div class="col col-sm-4 text-left">

    <form action="{% url 'slack' %}" method="post"> {% csrf_token %}

        <h3>Slack settings</h1>

            <div class="form-group">
                <label for="webhook">Webhook</label>
                <input type="text" class="form-control" id="webhook" name="webhook" placeholder="https://hooks.slack.com/services/XXXX/XXXX">
            </div>

            <div class="form-group">
                <label for="alert_interval">Alert Interval</label>
                <input type="number" class="form-control" id="alert_interval" name="alert_interval" placeholder="60"
                    min="60" max="3600">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>



    </form>



</div>

{% endblock %}